:root {
  --accent: #0a66c2;
  --text: #111;
  --bg: #fff;
}




body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
      
}

h1, h2 {
  font-weight: 550;
  margin-bottom: 10px;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
  line-height: 1.5;
}


footer {
  margin-top: 40px;
  color: #555;
}
